* {margin: 0; padding: 0}
* {box-sizing: border-box;}
a {text-decoration: none;border: none;}
img {border: none;}
ul {list-style: none;}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#gallery {
  border: 1px solid green;
  width: 920px;
  margin: 10px auto;
}

#mainWindow {
  border: 1px solid red;
  width: 920px; height: 400px;
  overflow: hidden;
}
#mainWindow > .images {
  display: flex;
}

.menu {
  border: 1px solid blue;
  width: 920px;
}
.menu > ul {
  text-align: center;
}
.menu > ul > li {
  display: inline-block;
  vertical-align: top;
}
.menu > ul > .fbar {
  display: inline-block;
  background: url(./img/divider.png) no-repeat right;
  width: 2px;
  height: 45px;
}
.menu > ul > li > a > img {
  vertical-align: top;
}
.menu > ul > li > a {
  display: inline-block;
  background: url(./img/divider.png) no-repeat right;

  width: 60px;
  line-height: 35px;
  padding-top: 10px;
}

